.welcome-title {
    font-family: 'Cinzel Decorative', cursive;
    color: white;
}

.title-login-div {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}

.login-link {
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    width: 135px;
    margin-left: 693px;
}

.login-link:hover {
    color: #680202;
}

.title {
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 75px;
}


