.div-around-links {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #680202;
    color: white;
    font-family: 'Cinzel Decorative', cursive;;
}

.site-title {
    margin-right: 600px;
}

.nav-buttons {
    border: none;
    background: #680202;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Cinzel Decorative', cursive;
    outline: none;
    margin-right: 10px;
}

.nav-buttons:hover {
    color: #2c2c2c;
}